<!doctype html>
<html class="no-js" lang="en" dir="ltr" ng-app="ciFrontEndExam" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeWe Test</title>
    <!-- <link rel="stylesheet" href="deps/foundation.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="dist/styles.css">
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1>MeWe Front-End JavaScript Developers Test</h1>
        </div>
      </div>

      <!-- <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <div class="callout">
            <h3>We&rsquo;re stoked you want to join our company! </h3>
            <p>You are going to be implementing a small dashboard for a users/todos dataset.</p>
            <p>You should check out:</p>
            <div class="grid-x grid-padding-x">
              <div class="large-4 medium-4 cell">
                <p><a href="https://jsonplaceholder.typicode.com/">Dataset you'll be working with</a>
                <br />You need only concern yourself with the users and todos endpoints.</p>
              </div>
              <div class="large-4 medium-4 cell">
                <p><a href="https://angularjs.org/">Angular 1.6.5</a>
                <br />Yeah, we haven't moved on yet.</p>
              </div>
              <div class="large-4 medium-4 cell">
                <p><a href="http://foundation.zurb.com/">Foundation Zurb</a>
                <br />Yep</p>
              </div>
            </div>
            <p>Feel free to remove this part when doing [UI-101]</p>
          </div>
        </div>
      </div> -->

      <div class="grid-x grid-padding-x">
        <div class="large-12 medium-12 cell">
            <div class="callout primary"
                ng-controller="ciTodo as todo">

                <p>Bar Graph:</p>

                <div ci-bar-graph="todo.withUsers | ciTodoStateRecords:todo.filterBy"
                    ci-bar-group="'userId'"
                    ci-bar-graph-aggregate="'ciGraphGroupCount'"
                    ci-bar-graph-y-display="todo.getUser($record.group.value).name">

                    <div>
                        <span ng-bind="todo.getUser($group.value).name"></span>
                    </div>

                </div>

                <label>Filter:
                    <select placeholder="Complete State..."
                            ng-model="todo.filterBy">
                        <option value="all" selected>Total</option>
                        <option value="completed">Completed</option>
                        <option value="incomplete">Not Completed</option>
                    </select>
                </label>
            </div>
          </div>
        </div>

        <div class="grid-x grid-padding-x">
            <div class="large-6 medium-6 cell">
                <div class="callout success border-none">
                    Todo Completed:
                    <span ci-todo-completed-count="todo.rows"></span>
                </div>
            </div>

            <div class="large-6 medium-6 cell">
                <div class="callout alert border-none">
                    Todo Not Completed:
                    <span ci-todo-not-completed-count="todo.rows"></span>
                </div>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            <div class="large-8 medium-8 small-8 cell">
                <div class="panel callout"
                        ng-controller="ciTodo as todo">

                    <!-- <p>Paginated table display here</p> -->
                    <div ci-table-grid="todo.data"
                        ci-table-columns="['id', 'userId', 'title']">
                        <div ci-table-paging></div>
                    </div>
                    
                </div>
            </div>
            <div class="large-4 medium-4 small-4 cell">
                <div class="panel callout">
                    <p>BONUS! Add whatever in here. Impress us!</p>
                </div>
            </div>
        </div>

    </div>

    <script src="deps/angular.min.js"></script>
    <script src="dist/coinspectapp.js"></script>
  </body>
</html>
